<ui-gradient-card class="w-full min-w-md">
  <form (ngSubmit)="submit()" [formGroup]="form" class="w-full space-y-3">
    <h1 class="text-emerald-400 text-center font-bold text-3xl">Faça seu login</h1>
    <div class="space-y-1">
      <ui-label for="email">E-mail</ui-label>
      <ui-input id="email" formControlName="email" placeholder="Type your e-mail..." />
      <ui-feedback
        [show]="!!form.get('email')?.invalid && submitted()"
        [message]="form.get('email')?.errors | formError"
      />
    </div>
    <div class="space-y-1">
      <ui-label for="password">Password</ui-label>
      <ui-input
        id="password"
        formControlName="password"
        type="password"
        placeholder="Type your password"
      />
      <ui-feedback
        [show]="!!form.get('password')?.invalid && submitted()"
        [message]="form.get('password')?.errors | formError"
      />
    </div>
    <ui-button type="submit" variant="success" class="w-full" [disabled]="submitting()"
      >Entrar</ui-button
    >
  </form>
</ui-gradient-card>
