<ui-gradient-card class="w-full min-w-md">
  <form [formGroup]="form" (ngSubmit)="submit()" class="w-full space-y-3">
    <h1 class="text-emerald-400 text-center font-bold text-3xl">Crie sua conta</h1>
    <div class="space-y-1">
      <label for="name">Name</label>
      <ui-input id="name" formControlName="name" name="name" />
      <ui-feedback
        [show]="!!form.get('name')?.hasError('required') && submitted()"
        [message]="form.get('name')?.errors | formError"
      />
    </div>
    <div class="space-y-1">
      <label for="username">Username</label>
      <ui-input id="username" formControlName="username" />
      <ui-feedback
        [show]="!!form.get('username')?.hasError('required') && submitted()"
        [message]="form.get('username')?.errors | formError"
      />
    </div>
    <div class="space-y-1">
      <label for="email">E-mail</label>
      <ui-input id="email" formControlName="email" />
      <ui-feedback
        [show]="!!form.get('email')?.invalid && submitted()"
        [message]="form.get('email')?.errors | formError"
      />
    </div>
    <div class="space-y-1">
      <label for="password">Password</label>
      <ui-input id="password" type="password" formControlName="password" />
      <ui-feedback
        [show]="!!form.get('password')?.hasError('required') && submitted()"
        [message]="form.get('password')?.errors | formError"
      />
    </div>
    <div class="space-y-1">
      <label for="confirmPassword">Confirm Password</label>
      <ui-input id="confirmPassword" type="password" formControlName="confirmPassword" />
      <ui-feedback
        [show]="!!form.hasError('passwordsMismatch') && submitted()"
        message="Password mismatch"
      />
    </div>
    <button uiButton type="submit" class="mt-2 w-full" [disabled]="submitting()">
      Criar conta
    </button>
  </form>
</ui-gradient-card>
