<form action="" (ngSubmit)="submit()" [formGroup]="form">
  <span
    (click)="decreasePage()"
    [attr.data-visible]="page > 0"
    class="data-[visible=true]:block hidden cursor-pointer"
  >
    <lucide-icon [img]="arrowIcon" />
  </span>
  @if (page === 0) {
    <section>
      @for (date of dates; track date.availabilityDateId) {
        <div (click)="selectDate(date.availabilityDateId)">{{ date.date.getDate() }}</div>
      }
    </section>
  }

  @if (page === 1) {
    <section id="services">
      @for (service of services; track service.id) {
        <div (click)="selectService(service)">{{ service.description }}</div>
      }
      <div class="space-y-1">
        <ui-label>Descrição adicional</ui-label>
        <ui-textarea formControlName="description">{{ this.form.value.description }}</ui-textarea>
      </div>
    </section>
  }

  @if (page === 2) {
    <section id="times">
      @for (time of timeSlots; track time.id) {
        <div (click)="selectTime(time.id)">{{ time.label }}</div>
      }
    </section>
  }

  @if (page === 3) {
    <section id="result">
      <p>Cliente: Fulano</p>

      <p>Data: {{ this.form.controls.date.value }}</p>
      <p>Horário: {{ this.form.controls.time.value }}</p>
      <div>
        <p>Serviços</p>
        {{ this.form.controls.services.getRawValue()[0]?.description }}
      </div>

      @if (this.form.value.description) {
        <div>
          <p>Descrição adicional</p>
          <div>{{ this.form.controls.description.value }}</div>
        </div>
      }
    </section>
  }

  <div class="justify-between data-[visible=true]:flex hidden" [attr.data-visible]="page > 0">
    <p class="font-bold">Total</p>
    <p>{{ totalValue() | formatCurrency }}</p>
  </div>
  @if (page === 3) {
    <ui-button>Confirmar agendamento</ui-button>
  }
</form>
