<form class="w-80" (ngSubmit)="submit()" [formGroup]="form">
  <ui-dialog-content class="space-y-2">
    <div class="space-y-1">
      <ui-label>Serviço</ui-label>
      <ui-input [defaultValue]="data.description" [disabled]="true" />
    </div>
    <div class="space-y-1">
      <ui-label>Valor</ui-label>
      <ui-input [defaultValue]="data.basePrice | formatCurrency" [disabled]="true" />
    </div>
    <div class="space-y-1">
      <ui-label>Quantidade</ui-label>
      <ui-input [defaultValue]="this.form.value.quantity" formControlName="quantity" />
    </div>

    <div class="flex justify-between gap-2 bg-background p-2 rounded">
      Total
      <p class="font-bold">{{ totalValue() | formatCurrency }}</p>
    </div>
  </ui-dialog-content>

  <ui-dialog-footer>
    <ui-button variant="success" class="w-full" type="submit">Salvar</ui-button>
  </ui-dialog-footer>
</form>
