.toast {
  animation: toast-enter 300ms ease-in-out forwards;
}

@keyframes toast-enter {
  from {
    opacity: 0;
    transform: translateY(8px) scale(0.98);
    right: 0px;
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
    right: 40px;
  }
}