@use "tailwindcss";

@theme {
  --color-background: #0f172A;
  --color-foreground: #FFFFFF;
  --color-secondary: #172441;
  --color-danger: #910c0c;
  --color-danger-foreground: #FFFFFF;
}

body {
  font-family: sans-serif;
  @apply bg-background text-foreground;
}


.cdk-dialog-container {
  @apply bg-secondary py-8 px-10 rounded-md;
  display: block;
  filter: drop-shadow(0 0 10px rgba(white, 0.5));
  animation: dialog-enter 200ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes dialog-enter {
  from {
    opacity: 0;
    transform: translateY(8px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}