/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --color-background: #0f172A;
  --color-foreground: #FFFFFF;
}

body {
  font-family: Inter;
  @apply bg-background text-foreground;
}
