/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --color-background: #0f172A;
  --color-foreground: #FFFFFF;
}

body {
  font-family: sans-serif;
  @apply bg-background text-foreground;
}

:root {
  --mdc-theme-primary: #10b981;
  --mdc-theme-secondary: #3b82f6;
  --mdc-theme-error: #ef4444;
}