.ui-table {
  border: 1px solid var(--color-border);
  border-radius: 4px;
}

.ui-table thead tr {
  border-bottom: 1px solid var(--color-border);
}

.ui-table table tr:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

.ui-table table td, .ui-table table th {
  padding: 12px 16px;
}

.ui-table table {
  width: 100%;
}
